[submodule "PhysiCell"]
	path = PhysiCell
	url = https://github.com/MathCancer/PhysiCell.git
[submodule "PhysiCore"]
	path = PhysiCore
	url = https://github.com/bsc-life/PhysiCore.git
[submodule "PhysiCell-Studio"]
	path = PhysiCell-Studio
	url = https://github.com/PhysiCell-Tools/PhysiCell-Studio.git
[submodule "mcp-biomodelling-servers"]
	path = mcp-biomodelling-servers
	url = https://github.com/marcorusc/mcp-biomodelling-servers.git
